body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}
#input {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    max-width: 300px;
     flex-direction: column;
      gap: 15px;
}

  #input input,
  #input textarea,
  #input button {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
